body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: white;
    position: relative;
    transition: all 0.3s ease;
    z-index: 1;
}

h1 {
    font-size: 10rem;
    margin: 0;
    font-weight: 900;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    letter-spacing: 0.5rem;
    background: linear-gradient(45deg, #f39c12, #8e44ad, #3498db);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    z-index: 2;
}

.message {
    font-size: 1.6rem;
    margin-top: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 300;
    z-index: 2;
}

.button-container {
    margin-top: 30px;
    text-align: center;
    z-index: 10;
}

.btn {
    background-color: #3498DB;
    border: none;
    padding: 15px 30px;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s ease;
    text-decoration: none;
    display: inline-block;
    margin: 10px;
}

.btn:hover {
    background-color: #2980B9;
}

.btn:active {
    transform: scale(0.98);
}

.search-bar {
    margin-top: 20px;
    padding: 10px;
    font-size: 1.1rem;
    width: 250px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.stars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://www.transparenttextures.com/patterns/stardust.png') repeat;
    animation: starsAnimation 200s linear infinite;
    z-index: 1;
}

.earth {
    width: 500px;
    height: 500px;
    position: absolute;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    transform: translateX(-50%);
    position: absolute;
    top: 25vh;
    left: 50%;
    animation: earthAnimation 100s cubic-bezier(0.19, 1, 0.22, 1) forwards;
    background-image: url('./images/planet.png');
    z-index: 2;
}

@keyframes starsAnimation {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

@keyframes earthAnimation {
    0% {
        transform: translateX(-50%) scale(1);
    }

    100% {
        transform: translateX(-50%) scale(0);
    }
}

@keyframes timeTravel {
    0% {
        transform: scale(1) translateY(0);
        background: radial-gradient(circle, #f39c12, #8e44ad, #3498db);
        filter: blur(0);
    }

    50% {
        transform: scale(2) translateY(-30vh);
        background: radial-gradient(circle, #3498db, #8e44ad, #f39c12);
        filter: blur(5px);
    }

    100% {
        transform: scale(5) translateY(-100vh);
        background: radial-gradient(circle, #8e44ad, #3498db, #f39c12);
        filter: blur(15px);
    }
}

.time-traveling {
    animation: timeTravel 3s cubic-bezier(0.19, 1, 0.22, 1) forwards;
    position: relative;
    z-index: 20;
}

@keyframes fadeOutBackground {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.background-fade {
    animation: fadeOutBackground 3s forwards;
}